<% content_for :title do %>LAPOP Guatemala Dashboard<% end %>
<div class="gridster">

  <h1>LAPOP Guatemala Dashboard</h1>
  <p style="text-align: center;">Links: <a style="text-decoration: underline" target="blank" href="http://datasets.americasbarometer.org/database-login/usersearch.php?merged=yes">source data</a> | <a style="text-decoration: underline" target="blank" href="https://opendata.demo.socrata.com/International/LAPOP-Guatemala-Data-from-Merged-2004-2012-dataset/6izn-b3ek">data uploaded to Socrata</a> | <a style="text-decoration: underline" target="blank" href="http://github.com/marks/lapop-dash">code for this site</a></p>
  <br />
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-text="This is a dashboard powered by USAID/LAPOP data, dashing.rb, and Socrata!" data-moreinfo="Built by @Skram during LACHACK. github.com/marks/lapop-dash"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="total_surveys" data-view="Number" data-title="Total # of Responses" data-moreinfo="" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="years_of_data" data-view="Number" data-title="Years of Data" data-moreinfo="" data-prefix=""></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="count_by_year" data-view="List" data-unordered="false" data-title="Responses By Year" data-moreinfo=""></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="percent_2012_male" data-view="Meter" data-title="2012: Percent Male" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="count_by_concern" data-view="List" data-unordered="false" data-title="2012: Top Concerns" data-moreinfo=""></div>
    </li>

  </ul>
</div>